

	
	
		<div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro" href="#">Reminder</a>
			<li class="big-title">"The greatest wealth is health." – Virgil</li>
			<li class="title">Don't forget our open hours</li>
            <div >
                
                <ul class="time-sidual">
                    <li class="day">Monday - Fridayp <span>8.00-20.00</span></li>
                    <li class="day">Saturday <span>9.00-18.30</span></li>
                    <li class="day">Monday - Thusday <span>9.00-15.00</span></li>
                </ul>
            </div>
			<div class="button">
				<a href="" target="_blank" class="btn">Start Program</a>
			</div>
		</ul>
	
		<!-- Header Area -->
		<header class="header" >
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5 col-12">
							<!-- Contact -->
							<ul class="top-link">
								<li><a routerLink="/about" >About</a></li>
								<li><a href="#">Coatches</a></li>
								<li><a href="#">Nutritionists</a></li>
								<li><a  routerLink="/contact">Contact</a></li>
							</ul>
							<!-- End Contact -->
						</div>
						<div class="col-lg-6 col-md-7 col-12">
							<!-- Top Contact -->
							<ul class="top-contact">
								<li><i class="fa fa-phone"></i>+880 1234 56789</li>
								<li><i class="fa fa-envelope"></i><a href="mailto:support@yourmail.com">yourmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-2 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href=""><img src="/../../assets/img/logo.png" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li class="active"><a href="#">Home <i class="icofont-rounded-down"></i></a>
												<ul class="dropdown">
													<li><a href="">Home Page 1</a></li>
												</ul>
											</li>
											<li><a routerLink="/nutrisionist">Nutritionists </a></li>
                                            <li><a  routerLink="/coatch">Coatches </a></li>
                                            <li><a routerLink="/login">Login </a></li>
                                            <li><a routerLink="/inscription">Inscription </a></li>

										
											<li><a  routerLink="/contact">Contact Us</a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12">
								<div class="get-quote">
									<a href="" style="background-color: #87CEFA;" class="btn">Start Program</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>

        

